* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #C19B76;
  --second-color: #131313;
  --text-color: #818181;
  --section-padding: 40px;
}

body {
  font-family: 'Dancing Script', cursive;
  font-family: 'Gilda Display', serif;
  font-family: 'Jomhuria', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

/* start header */
.header {
  background-color: var(--second-color);
  color: white;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.header .container .logo {
  text-align: center;
  padding: 2px;
}

.header .container .logo h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.header .container .logo p {
  font-size: 8px;
  text-transform: uppercase;
}

.header .container .head{
  display: flex;
  align-items: center;
}

.header .container .nav {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

@media (min-width:992px) {

  .header .container i,
  .header .container ul i {
    display: none;
  }
}

.header .container ul {
  display: flex;
  transition: 0.6s;
}

.header .container ul li {
  margin-right: 30px;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--text-color);
  transition: 0.3s;
  cursor: pointer;
}

.header .container ul li:hover,
.header .container ul li.active {
  color: white;
}

.header .container .profile {
  display: flex;
  text-transform: capitalize;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--main-color);
  padding: 7px 10px;
  max-height: 80%;
}

.header .container .profile .img{
  display: flex;
  align-items: center;
  margin-right: 5px;

}

.header .container .profile .img img{
  height: 30px;
}

.header .container .profile .text{
  font-family: serif;
  letter-spacing: 1.6px;
  padding: 5px;
  font-size: 12px;
}

@media (max-width:992px) {
  .header .container {
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
  }

  .header .container .logo {
    margin-bottom: 15px;
  }

  .header .container ul {
    flex-direction: column;
    position: absolute;
    right: -210px;
    top: 0;
    padding: 20px 20px 0;
    background-color: var(--second-color);
    z-index: 3;
  }

  .header .container ul i {
    font-size: 18px;
    text-align: right;
    color: var(--text-color);
    transition: 0.3s;
    cursor: pointer;
  }

  .header .container ul i:hover {
    color: white;
  }

  .header .container ul li {
    margin-bottom: 35px;
    font-size: 18px;
    margin-right: 100px;
  }

  .header .container ul li.active {
    margin-top: 15px;
  }

  .header .container .profile {
    margin: 15px auto 15px -18px;
  }
}

.header .container span i {
  font-size: 25px;
  cursor: pointer;
}

/* end header */

/* start landing-page */
.landing-page {
  background-image: url(../images/about1.jpeg);
  background-size: cover;
}

.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 100px 0;
  z-index: 2;
}

.landing-page .overlay .account {
  font-size: 60px;
  font-family: serif;
  color: white;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px;
  z-index: 5;
}

/* end landing-page */

/* start bayview */
.bay_view {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.bay_view .container {
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}

.bay_view .container .view {
  flex: 2;
  text-align: center;
  position: relative;
}

.bay_view .container .view img {
  height: 350px;
  max-width: 300px;
}

.bay_view .container .view .box {
  width: 130px;
  height: 130px;
  background-color: var(--second-color);
  position: absolute;
  right: 15px;
  top: 80px;
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width:991px) {
  .bay_view .container .view .box {
    right: calc(50% - 185px);
  }
}

@media (min-width:992px) {
  .bay_view .container .view .box {
    right: 15px;
  }
}

@media (min-width:1200px) {
  .bay_view .container .view .box {
    right: 50px;
  }
}

.bay_view .container .view .box .number {
  display: flex;
  font-size: 30px;
  margin-bottom: 10px;
  justify-content: center;
}

.bay_view .container .view .box .number span {
  margin-right: 10px;
}

.bay_view .container .view .box .number .numm {
  position: relative;
  margin-right: 5px;
  font-family: serif;
  font-weight: bold;
}

.bay_view .container .view .box p {
  font-size: 12px;
}

.bay_view .container>.text {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bay_view .container .text>p {
  color: var(--text-color);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 20px;
}

.bay_view .container .text h2 {
  font-family: serif;
  font-size: 60px;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}

.bay_view .container .text .parag {
  display: flex;
  flex-wrap: wrap;
}

.bay_view .container .text .parag p {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.8;
  max-width: 48%;
  margin-bottom: 15px;
  padding: 0 5px;
}

.bay_view .container .text .signature {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bay_view .container .text .signature .me {
  width: 50%;
  display: flex;
  align-items: center;
}

.bay_view .container .text .me img {
  border-radius: 50%;
  width: 45px;
  margin-right: 20px;
}

.bay_view .container .text .me .text h3 {
  font-family: serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.bay_view .container .text .me .text p {
  font-size: 12px;
  color: var(--text-color);
  text-transform: capitalize;
  letter-spacing: 1.2px;
  margin-bottom: 0;
}

.bay_view .container .text .signature .signature-img {
  width: 50%;
  text-align: left;
}

.bay_view .container .text .signature .signature-img img {
  width: 100px;
}

@media (max-width:992px) {
  .bay_view .container {
    flex-direction: column;
  }

  .bay_view .container>.text {
    text-align: center;
    margin-top: var(--section-padding);
  }

  .bay_view .container .text .parag {
    justify-content: space-between;
    margin-top: 20px;
  }

  .bay_view .container .text .parag p {
    margin-bottom: 20px;
    max-width: 48%;
  }

  .bay_view .container .text .signature .signature-img {
    margin-left: 20px;
  }
}

/* end bayview */

/* start offers */
.offers .container {
  padding: var(--section-padding) 0;
}

.offers .container > p {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  color: var(--text-color);
}

.offers .container > h2 {
  font-size: 50px;
  font-family: serif;
  margin: 20px 0 30px;
}

.offers .container .boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers .container .boxs .box {
  flex-basis: 22.5%;

}

@media (max-width:991px) {
  .offers .container .boxs .box {
    flex-basis: 45%;
  }
}

@media (max-width:767px) {
  .offers .container .boxs .box {
    flex-basis: 90%;
    text-align: center;
    margin-bottom: 20px;
  }
  .offers .container > h2,
  .offers .container > p{
    text-align: center;
  }
  .offers .container .boxs{
    justify-content: center;
  }
  .offers .container .boxs .box .srv{
    justify-content: center;
  }
}

.offers .container .boxs .box .num {
  color: var(--main-color);
  font-size: 50px;
  font-family: serif;
  margin-bottom: 15px;
}

.offers .container .boxs .box h3 {
  font-size: 24px;
  font-family: serif;
  letter-spacing: 1.6px;
  margin-bottom: 15px;
}

.offers .container .boxs .box p {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 20px;
}

.offers .container .boxs .box .srv {
  display: flex;
}

.offers .container .boxs .box .srv i {
  margin-right: 15px;
  color: var(--text-color);
}

.offers .container .boxs .box .srv p {
  margin-bottom: 5px;
}

/* end offers */

/* start reception */
.reception {
  background-image: url(../images/about2.jpeg);
  background-size: cover;
}

.reception .overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 100px 150px;
  z-index: 2;
}

.reception .overlay .content {
  text-align: center;
  color: white;
}

.reception .overlay .content h2 {
  font-size: 60px;
  font-family: serif;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  padding: 30px;
}

.reception .overlay .content p {
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 16px;
}

.reception .overlay .content a {
  background-color: var(--main-color);
  padding: 10px 20px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  transition: 0.3s;
}

.reception .overlay .content a:hover {
  transform: scale(0.9);
}

@media (max-width:767px) {
  .reception .overlay {
    padding: 70px 90px;
  }
  .reception .overlay .content h2{
    font-size: 50px;
    padding: 15px;
  }
}
/* end reception */

/* start footer_contact */
.contact_footer {
  background: var(--second-color);
  width: 100%;
  position: absolute;
  color: white;
  padding: 70px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

@media (max-width:991px) {
  .contact_footer {
    flex-direction: column;
    align-items: center;
  }

  .contact_footer .footer-content {
    margin-bottom: 50px;
  }

  .contact_footer .footer-content:last-of-type {
    margin-bottom: 0;
  }
}

.contact_footer .footer-content h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: serif;
  letter-spacing: 2px;
}

.contact_footer .footer-content p {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.contact_footer .footer-content ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
}

.contact_footer .footer-content ul li {
  text-transform: capitalize;
  transition: 0.3s;
}

.contact_footer .footer-content ul li.active,
.contact_footer .footer-content ul li:hover {
  color: var(--main-color);
}

.contact_footer .footer-content .icons {
  display: flex;
  justify-content: space-evenly;
}

.contact_footer .footer-content a i {
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.contact_footer .footer-content a i.instagram:hover {
  color: rgb(212, 6, 161);
}

.contact_footer .footer-content a i.facebook:hover,
.contact_footer .footer-content a i.linkedin:hover {
  color: rgb(22, 22, 194);
}

.contact_footer .footer-content a i.pinterest:hover {
  color: red;
}

.contact_footer .footer-content a i.x:hover {
  color: gray;
}

.contact_footer .footer-content .subscribe {
  display: flex;
  justify-content: space-between;
}

.contact_footer .footer-content .subscribe input {
  flex-basis: 59%;
  padding: 12px;
  color: var(--main-color);
  background-color: black;
  border: none;
  font-size: 12px;
}

.contact_footer .footer-content .subscribe button {
  flex-basis: 39%;
  padding: 12px;
  flex: 1;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  cursor: pointer;
}

/* end footer_contact */
/* start loading */
.loading{
  background-color: var(--second-color);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
  margin: 0 5px;
  animation-name: loding;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.two {
  animation-delay: 0.25s;
}

.three {
  animation-delay: 0.5s;
}

@keyframes loding {
  to {
    opacity: 0.2;
    transform: translateY(-40px);
  }
}
/* end loading */
